body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

h2 {
    font-family: 'splashpoint', 'arial';
    font-weight: normal;
    font-size: 60px;
    color: var(--primary-color);
    margin-top: 20px;
}

.subtitulo h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-top: 15px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 10px auto;
    width: 80%;
    max-width: 800px;
}

.receita ul {
    list-style-type: square;
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    background: #ffefef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px 4px rgb(156, 4, 4);
}

.receita ul li {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 10px;
    padding-bottom: 5px;
}

.receita ol {
    list-style-type: decimal;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background: #ffefef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px 4px rgb(156, 4, 4);
}

.receita ol li {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 10px;
    padding-bottom: 5px;
}

.subtopico {
    padding-top: 13px;
}
